body {
  font-family: 'Roboto', sans-serif;
}
.error {
  color: red;
}

:root {
  --primary-color: rgb(126, 113, 177); /* Основной цвет кнопки */
  --primary-color-hover: rgb(145, 128, 193); /* Цвет кнопки при наведении */
}

.p-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.p-button:hover {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
